$font-primary: 'Source Sans Pro', Arial, sans-serif;
$font-secondary: 'Roboto Slab', serif;



// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #2D6CDF !default;
$brand-secondary: #09C6AB !default;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #e8e8e8;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #4c4a8a;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;



// Mixin
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style 
*
* ======================================================= */

body {
	font-family: $font-primary;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #828282;
	background: #fff;
}
#page {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	@include transition(.5s);
	.offcanvas & {
		overflow: hidden;	
		position: absolute;
		
		&:after {
			@include transition(2s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 101;
			background: rgba(0,0,0,.7);
			content: "";
		}
	}
}
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover, &:active, &:focus {
		color: $brand-primary;
		outline: none;
		text-decoration: none;
	}
}
p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
	color: $brand-black;
	font-family: $font-secondary;
	font-weight: 400;
	margin: 0 0 20px 0;
}
::-webkit-selection {
  color: $brand-white;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-primary;
}
::selection {
  color: $brand-white;
  background: $brand-primary;
}

.fh5co-nav {
	width: 100%;
	padding: 0;
	z-index: 1001;
	.top-menu{
		padding: 22px 0;
	}
	.top{
		border-bottom: 1px solid rgba($brand-black,.08);
		padding: 0px 0;
		margin-bottom: 0;
		.num, .fh5co-social, .site{
			display: inline-block;
			margin: 0;
			padding: 5px 12px;
			@media screen and (max-width: $screen-sm){
				padding: 5px 10px;
			}
		}
		.site{
			float: left;
			font-weight: 300;
			margin-top: 0px;
			border-left: 1px solid rgba($brand-black,.08);
			border-right: 1px solid rgba($brand-black,.08);
			@media screen and (max-width: $screen-xs){
				display: none;
			}
		}
		.num{
			color: rgba($brand-black,.6);
			font-size: 13px;
			letter-spacing: 0px;
			border-left: 1px solid rgba($brand-black,.08);
		}
		.fh5co-social{
			margin: 0;
			border-left: 1px solid rgba($brand-black,.08);
			border-right: 1px solid rgba($brand-black,.08);
			li{
				font-size: 14px;
				display: inline-block;
				a{
					padding: 7px 7px;
					i{
						font-size: 14px;
					}
				}
			}
		}
	}
	#fh5co-logo {
		font-size: 24px;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-weight: 700;
		font-family: $font-primary;
		a{
			color: $brand-black;
			position: relative;
			padding-left: 25px;
			span{
				color: $brand-black;
			}
			i{
				position: absolute;
				top: 5px;
				left: 0;
			}
		}
	}
	.menu-1 {
		@media screen and (max-width: $screen-sm ) {
			display: none;
		}
	}
	ul {
		padding: 0;
		margin: 5px 0 0 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline;
			font-weight: 300;
			a {
				font-size: 14px;
				padding: 30px 15px;
				color: rgba(0,0,0,.9);
				@include transition(.5s);
				&:hover,&:focus, &:active {
					color: rgba(0,0,0,1);
				}
			}
			&.has-dropdown {
				position: relative;
				.dropdown {
					width: 140px;
					-webkit-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					-moz-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					z-index: 1002;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top: 40px;
					left: 0;
					text-align: left;
					background: $brand-black;
					padding: 20px;
					@include border-radius(4px);
					@include transition(.0s);
					&:before {
						bottom: 100%;
						left: 40px;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-bottom-color: #000;
						border-width: 8px;
						margin-left: -8px;
					}
					
					li {
						display: block;
						margin-bottom: 7px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							padding: 2px 0;
							display: block;
							color: lighten($brand-black, 60%);
							line-height: 1.2;
							text-transform: none;
							font-size: 13px;
							letter-spacing: 0;
							&:hover {
								color: $brand-white;
							}
						}
					}
				}
				&:hover, &:focus {
					a {
						color: $brand-black;
					}
					.dropdown {
						// visibility: visible;
						// opacity: 1;
					}
				}
			}
			&.btn-cta {
				a {
					padding: 30px 0px !important;
					color: $brand-white;
					span {
						background: rgba($brand-primary,1);
						padding: 4px 10px;
						@include inline-block;
						@include transition(.3s);
						@include border-radius(1);
					}
					&:hover {
						span {
							-webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
							-moz-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
							box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
						}
					}
				}
			}
			&.active {
				> a {
					font-weight: 400;
				}
			}
		}
	}
}


//SLIDER
#fh5co-hero {
	min-height: 630px;
	height: 630px;
	background: $brand-white url(../images/loader.gif) no-repeat center center;
	.btn {
		font-size: 24px;
		&.btn-primary {
			padding: 14px 30px!important;
		}
	}
	.flexslider {
		border: none;
		
		z-index: 1;
		margin-bottom: 0;

		.slides {
			position: relative;
			overflow: hidden;
			li {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: bottom center;
				min-height: 630px;
				height: 630px;
				position: relative;
				&:after{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					content: '';
					background: rgba($brand-black,.4);
					z-index: 1;
				}
			}
		}
		.flex-control-nav {
			// bottom: 200px;
			// bottom: 20%;
			bottom: 40px;
			z-index: 1000;
			li {
				a {
					background: rgba(255,255,255,.2);
					box-shadow: none;
					width: 12px;
					height: 12px;
					cursor: pointer;
					&.flex-active {
						cursor: pointer;
						background: rgba(255,255,255,.7);
					}
				}
			}
		}
		.flex-direction-nav {
			display: none;
		}
		.slider-text {
			display: table;
			opacity: 0;
			min-height: 630px;
			height: 630px;
			z-index: 9;
			> .slider-text-inner {
				display: table-cell;
				vertical-align: middle;
				min-height: 700px;
				// height: 700px;
				h1, h2 {
					margin: 0;
					padding: 0;
					color: rgba(255,255,255,1);
				}
				h1 {
					margin-bottom: 20px;
					font-size: 40px;
					line-height: 1.3;
					font-weight: 300;
					@media screen and (max-width: $screen-sm) {
						font-size: 30px;
					}
				}
				h2 {
					font-size: 20px;
					line-height: 1.5;
					margin-bottom: 30px;
					font-family: $font-primary;
					a{
						color: rgba($brand-white,.5);
					}
				}
				.heading-section{
					
				}
				.btn {
					padding: 18px 30px !important;
					// background: $brand-primary!important;
					color: $brand-white;
					border: none!important;
					font-size: 12px;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 2px;
					&:hover {
						background: $brand-primary!important;
						-webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
						-moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
						box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
					}
				}
				// .form-inline {
				// 	.form-group {
				// 		width: 100%!important;
				// 		margin-bottom: 10px;
				// 		.form-control {
				// 			width: 100%;
				// 			background: $brand-white;
				// 			border: none;
				// 		}
				// 	}
				// }
				.fh5co-lead {
					font-size: 20px;
					color: $brand-white;
					.icon-heart {
						color: $brand-danger;
					}
				}
			}
		}
	}

}

.fh5co-bg-section{
	background: rgba($brand-body-color,1);
}

#fh5co-course-categories,
#fh5co-counter,
#fh5co-course,
#fh5co-register,
#fh5co-pricing,
#fh5co-testimonial,
#fh5co-blog,
#fh5co-about,
#fh5co-staff,
#fh5co-contact,
#fh5co-footer{
	padding: 0em 0;
	clear: both;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
}


.services{
	width: 95%;
	margin: 0 auto;
	margin-bottom: 40px;
	position: relative;
	@include transition(.3s);
	h3{
		font-size: 18px;
		font-weight: 400;
		a{
			color: $brand-black;
		}
	}
	.icon {
		width: 90px;
		height: 90px;
		background: rgba($brand-black,.04);
		display: table;
		text-align: center;
		margin:0 auto;
		margin-bottom: 30px;
		// border: 1px solid rgba($brand-black,.09);
		@include border-radius(50%);
		@include transition(.3s);
		@media screen and (max-width: $screen-md){
			margin: 0 auto 30px auto;
		}
		i {
			display: table-cell;
			vertical-align: middle;
			// height: 90px;
			font-size: 40px;
			line-height: 40px;
			color: $brand-black;
			@include transition(.3s);
		}
	}
	&:hover, &:focus{
		.icon{
			background: $brand-primary;
			i{
				color: $brand-white;
			}
		}
	}
}

// Counters
.fh5co-counters {
	padding: 7em 0;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
	.overlay{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		background: rgba($brand-black,.5);
	}
	.counter-wrap{
		border: 1px solid red !important;
	}
	.fh5co-counter {
		font-size: 44px;
		display: block;
		color: rgba($brand-white,1);
		font-family: $font-secondary;
		width: 100%;
		font-weight: 400;
		margin-bottom: .1em;
	}
	.fh5co-counter-label {
		color: rgba($brand-white,.8);
		font-size: 16px;
		margin-bottom: 2em;
		display: block;
		font-family: $font-secondary;
	}
	.icon{
		i{
			font-size: 45px;
			color: $brand-white;
		}
	}
}

.course{
	@include flex();
	@include flexwrap();
	margin-bottom: 30px;
	.desc,.course-img{
		width: 50%;
		display: inline-block;
		@media screen and(max-width: $screen-sm){
			width: 100%;
		}
	}
	.course-img{
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		@include transition(.3s);
		@media screen and(max-width: $screen-sm){
			height: 270px;
		}
	}
	.desc{
		padding: 1.7em;
		background: lighten($brand-black,98%);
		h3{
			font-size: 18px;
			font-weight: 400;
			a{
				color: $brand-black;
			}
		}
		.date{
			display: block;
			margin-bottom: 20px;
			font-size: 14px;
		}
		.btn-course{
			border: 2px solid rgba($brand-black,.8) !important;
			background: transparent;
			color: rgba($brand-black,.8) !important;
			font-size: 12px;			
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			padding: 11px 15px !important;
			@include border-radius(0);
			&:hover{
				background: rgba(0,0,0,.8) !important;
				color: rgba($brand-white,1) !important;
			}
		}
	}
	&:hover{
		.course-img{
			-webkit-box-shadow: inset -70px 0px 77px 11px rgba(0,0,0,0.74);
			-moz-box-shadow: inset -70px 0px 77px 11px rgba(0,0,0,0.74);
			box-shadow: inset -70px 0px 77px 11px rgba(0,0,0,0.74);
		}
	}
}

.fh5co-social-icons {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		@include inline-block;
		a {
			@include inline-block;
			color: $brand-primary;
			padding-left: 10px;
			padding-right: 10px;
			i {
				font-size: 20px;
			}
		}
	}
}

.fh5co-contact-info {
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0 0 0 40px;
			margin: 0 0 30px 0;
			list-style: none;
			position: relative;
			color: rgba($brand-black,.8);
			&:before {
				color: rgba($brand-black,.8);
				position: absolute;
				left: 0;
				top: .05em;
				@include icomoon;
			}
			&.address {
				&:before {
					font-size: 30px;	
					content: "\e9dc";
				}
			}
			&.phone {
				&:before {
					font-size: 23px;
					content: "\ea3b";
				}
			}
			&.email {
				&:before {
					font-size: 23px;
					content: "\e91e";
				}
			}
			&.url {
				&:before {
					font-size: 23px;
					content: "\e9df";
				}
			}
			a{
				color: rgba($brand-black,.8);
			}
		}
	}
}

.fh5co-heading {
	margin-bottom: 5em;
	h2 {
		font-size: 24px;
		margin-bottom: 20px;
		line-height: 1.5;
		color: $brand-black;
		text-transform: uppercase;
		position: relative;
		&:after{
			position: absolute;
			top: 40px;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			width: 50px;
			height: 1px;
			margin: 0 auto;
			background: rgba($brand-black,.08);
		}
	}
	p {
		font-size: 14px;
	}
}

#fh5co-testimonial {
	background: #1F5F8B;
	position: relative;
	.overlay{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		background: rgba(#1F5F8B,.7);
	}
	.testimony-slide{
		text-align: center;
		position: relative;
		color: $brand-white !important;
		span{
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 700;
			display: block;
			small{
				font-size: 11px;
				font-weight: 300;
				letter-spacing: 3px;
			}
		}

		.user{
			display: block;
			width: 100px;
			height: 100px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;
			margin: 0 auto;
			margin-bottom: 10px;
			@include border-radius(50%);
		}

		blockquote{
			border: none;
			margin: 30px auto;
			width: 70%;
			position: relative;
			padding: 0;
			@media screen and (max-width: $screen-sm){
				width: 85%;
			}
			
		}

	}

	.arrow-thumb{
		position: absolute;
		top: 40%;
		display: block;
		width: 100%;

		a{
			font-size: 32px;
			color: #dadada;

			&:hover, &:focus, &:active{
				text-decoration: none;
			}
		}
	}
	.owl-theme .owl-dots .owl-dot span{
		background: rgba($brand-white,.3) !important;
	}
	.owl-theme .owl-dots .active span{
		background: rgba($brand-white,1) !important;
	}

	.fh5co-heading {
		margin-bottom: 3em;
		h2 {
			color: $brand-white;
			margin-bottom: 20px !important;
			&:after{
				background: transparent !important;
			}
		}
		p{
			color: rgba($brand-white,.5);
		}
		span{
			padding: 7px 15px;
			position: relative;
			&:before{
				position: absolute;
				top: 24px;
				left: -40px;
				content: '';
				width: 40px;
				height: 1px;
				background: rgba($brand-white,1);
			}
			&:after{
				position: absolute;
				top: 24px;
				right: -40px;
				content: '';
				width: 40px;
				height: 1px;
				background: rgba($brand-white,1);
			}
		}
	}
}

//PRICING
.wrap-price{
	padding: 2em 4em;
}
.pricing__feature-list{
	width: 100%;
	float: left;
	li{
		margin-bottom: 10px;
	}
}
.pricing__item{
	width: 100%;
	float: left;
	clear: both;
	@media screen and(max-width: $screen-sm){
		margin-bottom: 30px;
	}
}

// BLOG
.fh5co-event{
	position: relative;
	padding-left: 120px;
	width: 100%;
	float: left;
	margin-bottom: 30px;
	.date{
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		height: 100px;
		background: rgba($brand-black,.03);
		display: table;
		@include border-radius(50%);
		span{
			display: table-cell;
			vertical-align: middle;
			height: 100px;
			width: 100px;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
		}
	}
	h3{
		font-size: 20px;
		margin-bottom: 20px;
		line-height: 1.5;
		a{
			color: rgba($brand-black,1);
		}
	}

}
.fh5co-blog{
	margin-bottom: 30px;
	width: 100%;
	float: left;
	@media screen and (max-width: $screen-sm) {
		width: 100%;
	}
	.blog-img-holder{
		display: block;
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		position: relative;
		height: 270px;
	}
	.blog-text {
		position: relative;
		background: rgba($brand-black,.03);
		width: 100%;
		padding: 30px;
		float: left;

		span{
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			display: inline-block;
			margin-bottom: 20px;
			&.comment{
				float: right;
				a{
					color: rgba($brand-black,.3);
					i{
						// color: $brand-primary;
						padding-left: 7px;
					}
				}
			}
		}

		h3{
			font-size: 20px;
			margin-bottom: 20px;
			line-height: 1.5;
			a{
				color: rgba($brand-black,1);
			}
		}
		.btn-blog{
			background: transparent;
			border: 2px solid rgba($brand-black,.8);
			color: rgba($brand-black,.8);
			@include border-radius(0);
			&:hover{
				color: $brand-white !important;
			}
		}
	}
}

#fh5co-register{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		background: rgba(0, 0, 0, .5);
	}
	h2,h3,p{
		color: $brand-white;
	}
	.btn-reg{
		background: transparent;
		border: 2px solid $brand-white;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
		@include border-radius(0);
	}
}

// COUNTDOWN CUSTOM
.simply-countdown {
    /* The countdown */
    margin-top: 3em;
    margin-bottom: 3em;
}
.simply-countdown > .simply-section {
    /* coutndown blocks */
    display: inline-block;
    width: 120px;
    height: 120px;
    background: rgba($brand-black,.2);
    margin: 0 5px;
    position: relative;
    border: 2px solid $brand-white;
    @include border-radius(50%);
}

.simply-countdown > .simply-section > div {
    /* countdown block inner div */
    display: table-cell;
    vertical-align: middle;
    height: 115px;
    width: 120px;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
	display: block;
	color: rgba($brand-white,1);
    /* amounts and words */
}

.simply-countdown > .simply-section .simply-amount {
	font-size: 40px;
    /* amounts */
}

.simply-countdown > .simply-section .simply-word {
	color: rgba($brand-white,.9);
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 700;
    /* words */
}

//Teacher
.staff{
	width: 100%;
	float: left;
	display: block;
	margin-bottom: 40px;
	.staff-img{
		width: 100%;
		float: left;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		height: 300px;
		margin-bottom: 20px;
		display: table;
		&:before{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background: rgba($brand-white,.9);
			@include transition(.3s);
		}
		.fh5co-social{
			opacity: 0;
			display: table-cell;
			vertical-align: middle;
			height: 300px;
			margin: 0;
			padding: 0;

			font-size: 14px;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transform: translate3d(0, -15px, 0);
			transform: translate3d(0, -15px, 0);
			li{
				display: inline-block;
				padding: 0 7px;
			}
		}
	}
	h3{
		font-size: 18px;
		a{
			color: $brand-black;
		}
	}
	span{
		display: block;
		margin-bottom: 10px;
		font-size: 12px;
	}
	&:hover{
		.staff-img{
			&:before{
				opacity: 1;
			}
			.fh5co-social{
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}
	}
}

#fh5co-gallery{
	padding-top: 2.5em;
	h2{
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 2.5em;
		font-family: $font-primary;
		font-weight: 700;
		letter-spacing: 2px;
		span{
			border: 2px solid rgba($brand-black,.8);
			padding: 10px 15px;
			position: relative;
			&:before, &:after{
				position: absolute;
				top: 18px;
				bottom: 0;
				content: '';
				width: 100px;
				height: 1px;
				background: rgba($brand-black,.1);
			}
			&:before{
				lett: 0;
				margin-left: -125px
			}
			&:after{	
				right: 0; 
				margin-right: -110px
			}
		}
	}
}
.gallery{
	display: block;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 300px;
	&:hover{
		-webkit-box-shadow: inset 0px 0px 124px 11px rgba(0,0,0,0.74);
		-moz-box-shadow: inset 0px 0px 124px 11px rgba(0,0,0,0.74);
		box-shadow: inset 0px 0px 124px 11px rgba(0,0,0,0.74);
	}
}

#fh5co-footer {
	background: #efefef;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	color: $brand-white !important;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .85);
		@include transition(.5s);
	}
	.fh5co-footer-links {
		padding: 0;
		margin: 0;	
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			a {
				color: rgba($brand-white,.5);
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.fh5co-widget {
		margin-bottom: 30px;
		@media screen and (max-width: $screen-sm){
			text-align: left;
		}
		h3 {
			margin-bottom: 15px;
			font-weight: bold;
			font-size: 12px;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-family: $font-primary;
			color: $brand-white;
		}
	}

	.copyright {
		.block {
			display: block;
			a{
				color: rgba($brand-white,.5);
			}
		}
	}
}

// Map
#map {
	width: 100%;
	height: 500px;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		height: 200px;
	}
}


// off canvas
#fh5co-offcanvas {
	position: absolute;
	z-index: 1901;
	width: 270px;
	background: lighten($brand-black, 0%);
	top: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 75px 40px 40px 40px;
	overflow-y: auto;
	display: none;
	@include translateX(270px);
	@include transition(.5s);
	@media screen and(max-width: $screen-sm){
		display: block;
	}
	.offcanvas & {
		@include translateX(0px);
	}
	a {
		color: rgba(255,255,255,.5);
		&:hover {
			color: rgba(255,255,255,.8);
		}
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			> ul {
				padding-left: 20px;
				display: none;
			}
			&.offcanvas-has-dropdown {
				> a {
					display: block;
					position: relative;
					&:after {
						position: absolute;
						right: 0px;
						@include icomoon;
						content: "\ea1c";
						font-size: 20px;
						color: rgba(255,255,255,.2);
						@include transition(.5s);
					}
				}
				&.active {
					a {
						&:after {
							-webkit-transform: rotate(-180deg);
							-moz-transform: rotate(-180deg);
							-ms-transform: rotate(-180deg);
							-o-transform: rotate(-180deg);
							transform: rotate(-180deg);
						}
					}
				}
			}
		}
	}
}

.uppercase {
	font-size: 14px;
	color: $brand-black;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}
.gototop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	@include transition(.5s);
	&.active {
		opacity: 1;
		visibility: visible;
	}
	a {
		width: 50px;
		height: 50px;
		display: table;
		background: rgba(0,0,0,.5);
		color: $brand-white;
		text-align: center;
		@include border-radius(4px);
		i {
			height: 50px;
			display: table-cell;
			vertical-align: middle;

		}
		&:hover, &:active, &:focus {
			text-decoration: none;
			outline: none;
		}
	}	
}



// Burger Menu
.fh5co-nav-toggle {
  width:25px;
  height:25px;
  cursor: pointer;
  text-decoration: none;
  &.active i {
		&::before, &::after {
			background: $brand-darker;
		}
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	position: relative;
	  display: inline-block;
	  width: 25px;
	  height: 2px;
	  color: #252525;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: #252525;
	  transition: all .2s ease-out;
		 &::before, &::after {
	  	content:'';
		  width: 25px;
		  height: 2px;
		  background: #252525;
		  position: absolute;
		  left:0;
		  transition:all .2s ease-out;
	  }
  }
  &.fh5co-nav-white {
  	> i {
  		color:$brand-white;
  		background: $brand-black;
  		&::before, &::after {
  			background: $brand-black;
  		}
  	}
  	&.active{
  		> i {
  		color:$brand-white;
  		background: $brand-black;
  		&::before, &::after {
  			background: $brand-white;
  		}
  	}
  	}
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 55px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none!important;
  @media screen and (max-width: $screen-sm) {
  	display: block;
  }
}

// Buttons
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 400;
	@include border-radius(30px);
	@include transition(.5s);
	padding: 8px 20px;
	&.btn-md {
		padding: 8px 20px!important;
	}
	&.btn-lg {
		padding: 18px 36px!important;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
		outline: none!important;
	}
}
.btn-primary {
	background: $brand-primary;
	color: $brand-white;
	border: 2px solid $brand-primary;
	&:hover, &:focus, &:active {
		background: lighten($brand-primary, 5%)!important;
		border-color: lighten($brand-primary, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-primary;
		border: 2px solid $brand-primary;
		&:hover, &:focus, &:active {
			background: $brand-primary;
			color: $brand-white;
		}
	}
}
.btn-success {
	background: $brand-success;
	color: $brand-white;
	border: 2px solid $brand-success;
	&:hover, &:focus, &:active {
		background: darken($brand-success, 5%)!important;
		border-color: darken($brand-success, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-success;
		border: 2px solid $brand-success;
		&:hover, &:focus, &:active {
			background: $brand-success;
			color: $brand-white;
		}
	}
}
.btn-info {
	background: $brand-info;
	color: $brand-white;
	border: 2px solid $brand-info;
	&:hover, &:focus, &:active {
		background: darken($brand-info, 5%)!important;
		border-color: darken($brand-info, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-info;
		border: 2px solid $brand-info;
		&:hover, &:focus, &:active {
			background: $brand-info;
			color: $brand-white;
		}
	}
}
.btn-warning {
	background: $brand-warning;
	color: $brand-white;
	border: 2px solid $brand-warning;
	&:hover, &:focus, &:active {
		background: darken($brand-warning, 5%)!important;
		border-color: darken($brand-warning, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-warning;
		border: 2px solid $brand-warning;
		&:hover, &:focus, &:active {
			background: $brand-warning;
			color: $brand-white;
		}
	}
}
.btn-danger {
	background: $brand-danger;
	color: $brand-white;
	border: 2px solid $brand-danger;
	&:hover, &:focus, &:active {
		background: darken($brand-danger, 5%)!important;
		border-color: darken($brand-danger, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-danger;
		border: 2px solid $brand-danger;
		&:hover, &:focus, &:active {
			background: $brand-danger;
			color: $brand-white;
		}
	}
}

.btn-outline {
	background: none;
	border: 2px solid lighten($brand-black, 50%);
	font-size: 16px;
	@include transition(.3s);
	&:hover, &:focus, &:active {
		box-shadow: none;
	}
}

.btn.with-arrow {
	position: relative;
	@include transition(.3s);
	i {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -8px;
		@include transition(.2s);
	}
	&:hover {
		padding-right: 50px;
		i {
			color: $brand-white;
			right: 18px;
			visibility: visible;
			opacity: 1;
		}
	}
}
// Form Input Field
.form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 54px;
	font-size: 14px;
	font-weight: 400;
  	&:active, &:focus {
  		outline: none;
		box-shadow: none;
		border-color: $brand-black;
  }
}

.row-pb-md {
	padding-bottom: 4em!important;
}
.row-pb-sm {
	padding-bottom: 2em!important;
}

.fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
}

.row-padded-mb{
	margin-bottom: 3em !important;
}
.col-padded{
	margin: 0 !important;
	padding: 0 !important;
}

.animate-box {
	.js & {
		opacity: 0;
	}
}